<launch>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args = "true">
        <arg name="color" value="red"/>
        <arg name="use_rviz" value="false"/>

    </include>

    <node name="nusim" pkg="nusim" type="nusim">
        <rosparam command="load" file="$(find nusim)/config/basic_world.yaml" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args=" -d $(find nusim)/config/nusim.rviz"/>


</launch>