<launch>

    <arg name="use_jsp" default="false" doc="Determines if the joint state publisher is to be launched. Default is false."/>

    
    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args = "true">
        <arg name="color" value="red"/>
        <arg name="use_rviz" value="false"/>

    </include>

    <node name="nusim" pkg="nusim" type="nusim">
        <rosparam command="load" file="$(find nusim)/config/basic_world.yaml" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args=" -d $(find nusim)/config/nusim.rviz"/>

    <group if="$(arg use_jsp)">
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>


</launch>