<launch>

    <env name = "TURTLEBOT3_MODEL" value = "burger"/>

    <arg name="use_rviz" default="true" doc="Determines if rviz is to be launched. Default is true."/>
    <arg name="use_jsp" default="false" doc="Determines if the joint state publisher is to be launched. Default is false."/>

    <!-- <include file="$(find slam_toolbox)/online_async.launch"/>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" pass_all_args="true"/>

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="model" value="burger" />
        <arg name="move_forward_only" value="false"/>
    </include> -->

    <param name="robot_description" command = "xacro $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />


    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz"/>
    </group>

    <group if="$(arg use_jsp)">
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>


</launch>