<launch>

    <env name = "TURTLEBOT3_MODEL" value = "burger"/>

    <arg name="use_rviz" default="true" doc="Determines if rviz is to be launched. Default is true."/>
    <arg name="use_jsp" default="true" doc="Determines if the joint state publisher is to be launched. Default is false."/>

    <param name="robot_description" command = "xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro"/>

    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group if="$(arg use_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args=" -d $(find nuturtle_description)/config/basic.rviz"/>
    </group>

    <group if="$(arg use_jsp)">
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>


</launch>